/* Common and Game 1 CSS */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #282c34; 
  background-size: auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  border: 2px solid gray;
  padding: 2px;
  font-size: 20px;
  color: white;
}
.game-content {
  width: 725px;
}
button {
  margin: 0 2px;
  padding: 2px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  background-color: blue;
  color: white;
}
.game-header1 {
  color: white;
  width: 75px;
  margin: auto;
}
.game-card {
  display: flex;
  width: 65px;
  height: 90px;
  margin: 2px;
  padding: 2px;
 
}
.game-card-ace {
  display: flex;
  border: solid;
  width: 400px;
  height: 110px;
}
.game-body {
  display: flex;
  flex-direction: row;
  margin: 2px;
  width: 100px;
  padding: 1px;
}
.game-relative {
  position: relative;
}
.game-width {
  width: 580px;
}
.modal-button {
  background-color: red;
  margin: 20px;
}
/* select game modal*/
.modal {
  border: none;
}
.modal-content {
  border: 1px solid red;
  margin: 10px;
}
/* Game 2-4 CSS */
.game-body-column {
  display: flex;
  flex-direction: column;
  margin: 1px;
  width: 100px;
}
.game-discard {
  border: 2px solid orange;
  width: 80px;
  height: 100px;
}
/* Game 4 CSS */
.game-discard2 {
  border: 2px solid orange;
  width: 65px;
  height: 100px;
}
