.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  background-size: 100% 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  border: 1px solid gray;
  padding: 10px;
  font-size: 20px;
  color: white;
}
button {
  margin: 0 2px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
.game-card {
  display: flex;
  width: 70px;
  height: 100px;
  margin: 5px;
  border: solid;
  padding: 5px;
}
.game-body {
  display: flex;
  flex-direction: row;
  margin: 2px;
}
